@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text-primary: #000000;
}

.dark {
  --color-text-primary: #ffffff;
}

@media (prefers-color-scheme: dark) {
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
